.container {
  width: to-rem(164px);
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (--laptop-and-above) {
    width: to-rem(180px);
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: to-rem(246px);
  margin-bottom: to-rem(12px);

  @media (--laptop-and-above) {
    height: to-rem(268px);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.title {
  margin-bottom: to-rem(8px);
  font-size: var(--font-size-body-lg);
  font-weight: var(--font-weight-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.year {
  font-size: var(--font-size-body-sm);
}
