@layer components {
  .wrapper {
    width: fit-content;
    height: fit-content;
    background: none;
    padding: to-rem(4px);
    border: none;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
    transition: all 0.1s ease-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale3d(1.1, 1.1, 1);
      }
    }

    &[disabled] {
      opacity: 0.65;
    }
  }
}
