.container {
  --transition-properties: all 0.2s linear;
  --grid-columns: 2;

  @media (--tablet-and-above) {
    --grid-columns: 4;
  }

  @media (--laptop-and-above) {
    --grid-columns: 7;
  }

  display: flex;
  flex-direction: column;
  width: calc((100% - var(--grid-gap) * (var(--grid-columns) - 1)) / var(--grid-columns));
  height: 100%;
  overflow: hidden;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .image {
        transform: scale3d(1.05, 1.05, 1);
      }

      .info {
        &::before {
          height: 100%;
        }
      }

      .iconActive {
        color: var(--white-color);
      }
    }
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 22 / 25;
  cursor: pointer;
}

.image {
  background-color: var(--black-color);
  object-fit: cover;
  transform: scale3d(1.01, 1.01, 1);
  transform-origin: top center;
  transition: var(--transition-properties);
}

.fallbackImage {
  object-position: left;
  transform-origin: center;
}

.info {
  --divider-height: to-rem(6px);

  position: relative;
  width: 100%;
  height: calc(to-rem(56px) + var(--divider-height));
  padding-top: calc(var(--divider-height) + to-rem(16px));
  background-color: var(--black-color);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - to-rem(12px)),
    calc(100% - to-rem(12px)) 100%,
    0 100%
  );

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--divider-height);
    z-index: -10;
    background: var(--primary-color);
    transition: var(--transition-properties);
  }
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0 to-rem(16px);
  gap: to-rem(8px);
}

.name {
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-regular);
  color: var(--white-color);
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favoriteButton {
  margin-top: to-rem(-4px);
  margin-right: to-rem(-4px);
  flex-shrink: 0;
}

.icon {
  height: to-rem(12px);
  color: var(--white-color);
  transition: var(--transition-properties);
}

.iconActive {
  color: var(--primary-color);
}
