.container {
  margin-bottom: to-rem(36px);
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: to-rem(12px);
  padding: to-rem(12px) 0 to-rem(8px);
  margin-bottom: to-rem(12px);
  border-bottom: 1px solid var(--black-color);
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.inputContainerLoading {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--primary-color) 20%,
      var(--primary-color) 80%,
      transparent 100%
    );
    opacity: 0;
    animation: loading 1s infinite ease alternate;
  }
}

.input {
  width: 100%;

  &::placeholder {
    font-size: var(--font-size-body-lg);
    color: var(--neutral-color);
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
  }
}
